.alphabet__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  .alphabet__card--item {
    width: 100px;
    height: 50px;
    margin: 10px;
    .alphabet__card--value {
      text-align: center;
      align-items: center;
      margin: auto;
    }
    &.hit {
      background-color: rgb(144, 236, 149) !important;
    }
    &.miss {
      background-color: rgb(228, 163, 147) !important;
    }
  }
}
